# Databaseindstillinger
DB_HOST=localhost
DB_PORT=5432
DB_NAME=openstack
DB_USER=postgres
DB_PASSWORD=dit_kodeord

# Alarmeringsindstillinger
NOTIFIER_TYPE=mac
# Hvis NOTIFIER_TYPE er set til teams, skal du angive webhook url:
TEAMS_WEBHOOK_URL=https://outlook.office.com/webhook/placeholder
